.lookbookContainer{
    position: relative;
}
.lookbookGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
  }
.lookItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
.lookItem img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  