@import url("./reset.css");
@import url("./fonts.css");

html {
  --font-family-logo: "Dream Avenue", "Lora", Times, ui-serif, serif;
  --font-family-serif: "Lora", Times, ui-serif, serif;
  --font-family-sans: "Lato", system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
    Cantarell, Noto Sans, sans-serif;
}

html [data-theme="summer"] {
  --color-lighter: #fffcfd;
  --color-light: #da647e;
  --color-main: #ac243b;
  --color-dark: #63162d;
  --color-darker: #241416;
}

html [data-theme="spring"] {
  --color-lighter: #fbfffd;
  --color-light: #60da9b;
  --color-main: #179654;
  --color-dark: #1e6440;
  --color-darker: #1c3a2b;
}

html [data-theme="winter"] {
  --color-lighter: #f9faff;
  --color-light: #6577dd;
  --color-main: #4357c5;
  --color-dark: #2d3770;
  --color-darker: #24273d;
}

html [data-theme="autumn"] {
  --color-lighter: #f0eae4;
  --color-light: #b28059;
  --color-main: #7e5a3d;
  --color-dark: #402f23;
  --color-darker: #25221f;
}

body {
  font-family: var(--font-family-sans);
}

#root,
.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 100vh;

  font-family: var(--font-family-sans);
}

.App {
  color: var(--color-darker);
  background-color: var(--color-lighter);
}

main {
  flex: 1;
}
