@import "bootstrap";

$theme-colors: (
  summer: (
    lighter: #fffcfd,
    light: #da6491,
    main: #ac2458,
    dark: #840032,
    darker: #24141a,
  ),
  spring: (
    lighter: #fbfffd,
    light: #60da9b,
    main: #179654,
    dark: #1e6440,
    darker: #1c3a2b,
  ),
  winter: (
    lighter: #f9faff,
    light: #6577dd,
    main: #4357c5,
    dark: #2d3770,
    darker: #24273d,
  ),
  autumn: (
    lighter: #f0eae4,
    light: #b28059,
    main: #7e5a3d,
    dark: #402f23,
    darker: #25221f,
  ),
);

@mixin themify($themes: $themes) {
  @each $theme, $colors in $themes {
    [data-theme="#{$theme}"] & {
      @content ($colors);
    }
  }
}

/*

Lista de parâmetros da função `button-variant`

@include button-variant(
  1 - background-color,
  2 - border-color,
  3 - color,
  4 - background-color:hover,
  5 - border-color:hover,
  6 - color:hover,
  7 - background-color:active,
  8 - border-color:active,
  9 - color:active,
);

*/

.btn-primary {
  @include themify($theme-colors) using ($colors) {
    @include button-variant(
      /* 1 */ map-get($colors, "main"),
      /* 2 */ map-get($colors, "main"),
      /* 3 */ map-get($colors, "lighter"),
      /* 4 */ lighten(map-get($colors, "main"), 5%),
      /* 5 */ lighten(map-get($colors, "main"), 10%),
      /* 6 */ map-get($colors, "lighter")
    );
  }
}

.btn-outline-primary {
  @include themify($theme-colors) using ($colors) {
    @include button-outline-variant(
      /* 1 */ map-get($colors, "main"),
      /* 2 */ #222222,
      /* 3 */ lighten(map-get($colors, "main"), 5%),
      /* 4 */ map-get($colors, "main")
    );
  }
}

.btn-light {
  @include themify($theme-colors) using ($colors) {
    @include button-variant(
      /* 1 */ map-get($colors, "lighter"),
      /* 2 */ transparent,
      /* 3 */ map-get($colors, "main"),
      /* 4 */ darken(map-get($colors, "lighter"), 15%),
      /* 5 */ darken(map-get($colors, "lighter"), 15%),
      /* 6 */ darken(map-get($colors, "main"), 5%),
      /* 7 */ darken(map-get($colors, "light"), 15%),
      /* 8 */ transparent,
      /* 9 */ map-get($colors, "darker")
    );
  }
}

.btn-outline-light {
  @include themify($theme-colors) using ($colors) {
    @include button-outline-variant(
      /* 1 */ map-get($colors, "main"),
      /* 2 */ #222222,
      /* 3 */ lighten(map-get($colors, "main"), 5%),
      /* 4 */ map-get($colors, "main")
    );
  }
}

a:not(.btn),
.nav-link {
  @include themify($theme-colors) using ($colors) {
    color: map-get($colors, main);
  }
}

a:not(.btn):hover,
.nav-link:hover {
  @include themify($theme-colors) using ($colors) {
    color: map-get($colors, dark);
  }
}

a:not(.btn):focus,
.nav-link:focus {
  @include themify($theme-colors) using ($colors) {
    color: map-get($colors, "darker");
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  @include themify($theme-colors) using ($colors) {
    color: map-get($colors, darker);
  }
}

.form-control:focus,
.form-select:focus {
  outline: 0;

  @include themify($theme-colors) using ($colors) {
    border-color: map-get($colors, light);
    box-shadow: 0 0 0 0.25rem change-color(map-get($colors, dark), $alpha: 0.25);
  }
}
