.tituloHome {
  color: #000;
  font-size: 5.6rem;
  line-height: 1.12;
  font-family: "Times New Roman", Times, serif;
}

.subtituloHome {
  color: #000;
  max-width: 25ch;
  font-size: 1.5rem;
  line-height: 1.2;
}

.imagemCoverHome {
  height: 500px;

  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
